@model Nayelle.Models.SilkSerumVM

@{
    ViewBag.PageTitle = "NAYELLE Skincare - For Sensitive Skin - Organic Probiotic Ingredients";
    ViewBag.Title = Model.Title;
}

<main>
    <div class="main-hero" style="background-image: url(@Model.HeroImage);">
        <div class="main-hero-content hide-on-mobile"></div>
        <div class="main-hero-content">
            <p>@Model.HeroTextTop</p>
            <p>@Model.HeroTextBottom</p>
        </div>
    </div>
    <div class="wrapper main-content-section">
        <p>@Model.ParagraphUnderHero</p>
        <div class="main-content-section-list">
            <div class="main-content-section-item">
                @*<img src="/Content/img/SilkSerums_1.jpg" />*@
                <img src="@Model.FileName_1" />
                <p><strong>@Model.Name_1</strong></p>
                <p><strong>Price:</strong> @Model.Price_1</p>
                <p class="description">
                    <strong>@Model.Ingredient_1</strong><br />
                    <strong>@Model.Property_1</strong><br />
                    @Model.Description_1
                </p>
            </div>
            <div class="main-content-section-item">
                @*<img src="/Content/img/SilkSerums_2.jpg" />*@
                <img src="@Model.FileName_2" />
                <p><strong>@Model.Name_2</strong></p>
                <p><strong>Price:</strong> @Model.Price_2</p>
                <p class="description">
                    <strong>@Model.Ingredient_2</strong><br />
                    <strong>@Model.Property_2</strong><br />
                    @Model.Description_2
                </p>
            </div>
            <div class="main-content-section-item">
                @*<img src="/Content/img/SilkSerums_3.jpg" />*@
                <img src="@Model.FileName_3" />
                <p><strong>@Model.Name_3</strong></p>
                <p><strong>Price:</strong> @Model.Price_3</p>
                <p class="description">
                    <strong>@Model.Ingredient_3</strong><br />
                    <strong>@Model.Property_3</strong><br />
                    @Model.Description_3
                </p>
            </div>
            <div class="main-content-section-item">
                @*<img src="/Content/img/SilkSerums_4.jpg" />*@
                <img src="@Model.FileName_4" />
                <p><strong>@Model.Name_4</strong></p>
                <p><strong>Price:</strong> @Model.Price_4</p>
                <p class="description">
                    <strong>@Model.Ingredient_4</strong><br />
                    <strong>@Model.Property_4</strong><br />
                    @Model.Description_4
                </p>
            </div>
        </div>
    </div>

    <div class="wrapper link-section">
        <p>@Model.ParagraphUnderProducts<a href="@Model.Link"> @Model.LinkName</a></p>
    </div>

    <div class="wrapper extra-section">
        <p>@Model.Advantage</p>
    </div>
    <div class="extra-section-icons">
        <div class="extra-section-icon"><img class="large" src="/content/img/hypoallergenic.svg" /></div>
        <div class="extra-section-icon"><img src="/content/img/fragrance-free.svg" /></div>
        <div class="extra-section-icon"><img src="/content/img/paraben-free.svg" /></div>
        <div class="extra-section-icon"><img src="/content/img/Non-GMO.svg" /></div>
        <div class="extra-section-icon"><img class="made-in-ca" src="/content/img/made_in_canada.svg" /></div>
    </div>
    <div class="wrapper contact-section-wrap">
        <p>@Model.ContactUs</p>
        <div class="contact-section">
            <p>
                @Model.Manufacture<br />
                @Model.Street<br />
                @Model.Street<br />
                @Model.PostalCode
            </p>
            <p>
                <a href="mailto:info@silkserums.com">@Model.Email</a>
            </p>
        </div>
    </div>
</main>

@section Scripts{

}