<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="description" content="Natural, clean and organic skincare with retinol, hyaluronic acid, vitamins and nutrient rich probiotic ingredients. Nourish and protect your skin naturally.">
    <title>@ViewBag.Title</title>
    <link rel="canonical" href="https://nayelle.com/">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Hind+Madurai">
    <link href="/content/css/site.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <div class="wrapper nav-panel">
            <h2>SILK SERUMS</h2>
        </div>
    </nav>
    <div class="body-content">
        @RenderBody()
        <footer>
            <p style="text-align: center;">
                Copyright &copy; @DateTime.Now.Year NAYELLE Probiotic Skincare | All Rights Reserved
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
